body {
  background-color: rgb(150,180,240);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tp1 {
  border: solid green 1px;
  width: 100px;
  height: 100px;
}

h1 {
  font-family: serif;
  font-weight: 200px;
  font-size: 35px;
  margin-top: 35px;
  padding:5px;
  color:black;
  margin-left: 33%;
  margin-right: 33%;
}

.onecss {
  font-style: italic;
  font-size: 30px;
  margin-top:50px;
  margin-left:37%;
  margin-right:39%;
  color: red;
}

#weather {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 264px;
}

#timeofday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 264px;
}

#daytime {
  font-family: monospace;
  font-weight: bold;
  padding-top: 15px;
}

#nighttime {
  font-family: monospace;
  font-weight: bold;
  padding-top: 15px;
}

#temp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 264px;
}

#daytemp {
  font-family: monospace;
  font-weight: bold;
  padding-top: 15px;
  align-content: stretch;
}

#nighttemp {
  font-family: monospace;
  font-weight: bold;
  padding-top: 15px;
}
#condition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 264px;
}

#daycondition {
}

#nightcondition {
}
